!==========
! Urxvt
!==========

! mark-yank-urls bindings (see http://www.jukie.net/~bart/blog/urxvt-url-yank)
!==========
! Alt-u: Enter yank mode
! Esc: Exit yank mode
! y: copy to clipboard
! Enter: Launch Browser
! Ctrl-n: select next url
! Ctrl-p: select previous url
!==========

URxvt.perl-lib:         /home/andsanmar/.urxvt/
URxvt.perl-ext:         option-popup,matcher,selection,mark-yank-urls
URxvt.perl-ext-common:	font-size
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.underlineURLs:    true
URxvt.keysym.M-u:       perl:mark-yank-urls:activate_mark_mode

URxvt.cutchars:         `"()'*<>[]{|}"
 
URxvt.geometry:         100x45
URxvt.borderLess:       false
URxvt.transparent:      false
!URxvt.shading:          20
URxvt.depth:            32
!URxvt.background:       #202020
URxvt.foreground:       white

URxvt.saveLines:        10000
URxvt.xftAntialias:     true
URxvt.font:             xft:inconsolata:pixelsize=15:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=13:antialias=true,hinting=true
URxvt.boldFont:         xft:inconsolata:pixelsize=15:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=13:antialias=true,hinting=true
URxvt.italicFont:       xft:inconsolata:pixelsize=15:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=13:antialias=true,hinting=true
URxvt.bolditalicFont:   xft:inconsolata:pixelsize=15:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=13:antialias=true,hinting=true

URxvt.internalBorder:   0
!URxvt.underlineColor:	#999999
URxvt.cursorBlink:      true
!URxvt.cursorColor:      #EEEEEE
!URxvt.cursorColor2:     #000000

URxvt.scrollBar:        False
URxvt.scrollBar_right:  False
 
URxvt.scrollTtyOutput:  False
URxvt.scrollWithBuffer: True
URxvt.scrollTtyKeypress: True
URxvt.urgentOnBell: True

! Challenger Deep Xresources palette

! special
*.foreground:   #cbe3e7
*.background:   #1b182c
*.cursorColor:  #fbfcfc

! black
*.color0:       #565575
*.color8:       #100e23

! red
*.color1:       #ff8080
*.color9:       #ff5458

! green
*.color2:       #95ffa4
*.color10:      #62d196

! yellow
*.color3:       #ffe9aa
*.color11:      #ffb378

! blue
*.color4:       #91ddff
*.color12:      #65b2ff

! magenta
*.color5:       #c991e1
*.color13:      #906cff

! cyan
*.color6:       #aaffe4
*.color14:      #63f2f1

! white
*.color7:       #cbe3e7
*.color15:      #a6b3cc


Emacs.font:     Inconsolata-13
!Emacs.geometry: 90x60
Xft.hinting:    1
